<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/assets/logo.png">
  <title>{{ .spin.Name }}</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/brite/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <nav class="text-light container p-3 text-center d-flex">
    <a href="/" class="text-light"><h1 class="h3 m-0">Spin.zone.id</h1></a>
    <p class="mb-0 mt-1 ms-auto">Create and Share Spin!</p>
  </nav>
  <main class="container bg-light p-4 px-3 px-sm-4" x-data="main">
    <div class="mb-4 text-center">
      <h3 class="">{{ .spin.Name }}</h3>
      <div>
        <span class="text-muted">(Spin ID: <b>{{ .spin.ID }}</b>)</span>
        <a href="javascript:;" @click="shareSpin">Share!</a>
      </div>
    </div>
    {{ if .result.ID }}
    <template x-if="ready">
      <div>
        <div class="text-center mb-4 border p-3 rounded bg-white">
          <h3>
            Congratulation!
          </h3>
          <p class="mb-3">
            Result for input: <b>"{{ .result.Input }}"</b>
          </p>
          <button class="btn btn-lg btn-primary mb-3 w-100 active">
            {{ .result.SelectedOption }}
          </button>
          <a href="javascript:;" @click="shareResult">Share this result!</a>
        </div>
        <div class="text-center mb-4">
          <a href="/s/{{ .result.SpinID }}" class="btn btn-secondary" target="_blank">
            Try your input &nearr;
          </a>
        </div>
      </div>
    </template>
    <template x-if="!ready">
      <div class="text-center mb-4 border p-5 rounded bg-white">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </template>
    {{ end }}
    <div class="border p-3 mb-4 collapse rounded bg-white" id="details">
      <div class="mb-3">
        <p class="mb-1 text-muted">Options:</p>
        <ul class="ps-3">
          {{ range .options }}
          <li>{{ . }}</li>
          {{ end }}
        </ul>
      </div>
      <div class="">
        <p class="mb-1 text-muted">Comment:</p>
        <div class="mb-0" style="white-space: pre-line;" x-html="showComment"></div>
      </div>
    </div>
    {{ if not .result.ID }}
    <template x-if="ready">
      <div>
        <div class="text-center mb-4">
          <h5>Try Your Luck!</h5>
        </div>
        <form action="/s/{{ .spin.ID }}" method="get">
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Input ({{ .spin.InputHint }})" required name="input">
          </div>
          <div>
            <button class="btn btn-primary w-100">Submit</button>
          </div>
        </form>
      </div>
    </template>
    {{ end }}
  </main>
  <footer class="text-light container py-3 text-center">
    <p class="m-0">
      &copy; 2025
      <span class="d-none">
        - By
        <a href="https://gx1.org" class="text-light" target="_blank" rel="noopener noreferrer">
          PT. Geksa
        </a>
      </span>
    </p>
  </footer>
  <script src="//unpkg.com/alpinejs" defer></script>
  <script src="/assets/main.js" defer></script>
  <script>
    function linkify(text) {
      const urlRegex = /(https?:\/\/[^\s<>()]+[^.,!?;:)\]\s<>()])/g;
      return text.replace(urlRegex, (url) => {
        return `<a href="${url}" target="_blank" rel="noopener noreferrer">${url}</a>`;
      });
    }
    const main = () => ({
      init() {
        if (this.result == '') {
          this.showDetail()
        } else {
          this.animateResult()
        }
      },
      ready: false,
      result: '{{ .result.SelectedOption }}',
      get showComment() {
        const str = linkify(`{{ .spin.Comment }}`)
        return str
      },
      animateResult() {
        setTimeout(() => {
          this.ready = true
        }, 3000);
      },
      showDetail() {
        document.getElementById('details').classList.toggle('show')
        this.ready = true
      },
      shareSpin() {
        const text = `${location.origin}${location.pathname}`
        navigator.clipboard.writeText(text)
        alert('Spin URL copied!')
      },
      shareResult() {
        const text = `${location.href}`
        navigator.clipboard.writeText(text)
        alert('Result URL copied!')
      },
    })
    document.addEventListener('alpine:init', () => {
      Alpine.data('main', main)
    })
  </script>
</body>
</html>